#### How do I remove columns or rows from a pandas Dataframe?

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
# axis = 1 is column axis; axis = 0 is row axis
# inplace=True modifies the dataframe ; inplace=False modifies and returns a copy of the object

ufo.drop('Colors Reported', axis=1, inplace=True)

In [5]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [6]:
ufo.drop(['City','State'], axis=1, inplace=True)

In [7]:
ufo.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

#### How to remove rows

In [12]:
# [0,1] is the index/label

ufo.drop([0,1], axis=0, inplace=True)

KeyError: '[0 1] not found in axis'

In [13]:
ufo.drop([2], axis=0, inplace=True)

In [14]:
ufo.head()

  Shape Reported             Time
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00
7           DISK   7/15/1936 0:00